$main-color: #283149;
$second-color: #404b69;
$third-color: #f73859;
$last-color: #dbedf3;

@import url("https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/heart.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/profile.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/search.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=EB+Garamond&display=swap");

/*  */
/* Devices Resolution */
/*  */
@media screen and (max-width: 700px) {
}
/*  */
/* Main Style */
/*  */
* h5 {
  font-family: "EB Garamond", serif;
}
* p {
  font-family: "Source Code Pro", monospace;
}
body {
  margin: 0;
  width: 100%;
  height: 900px;
  display: grid;
  justify-content: center;
  background-color: $main-color;
}
/*  */
/* Navbar */
/*  */
.navbar {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  background-color: $second-color;
  height: 60px;
  border-radius: 13px;
  padding: 1px 10px;
}
.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
}
.navbar ul div.navbaricon {
  width: 40px;
  height: 40px;
  display: flex;
}
.navbar ul div.navbaricon img {
  width: 40px;
  height: 40px;
}
.navbar ul li {
  align-content: center;
}
.navbar ul li a {
  text-decoration: none;
  color: $last-color;
}
.navbar ul li a:hover {
  text-decoration: underline;
  transition: 0.5s all;
  border-radius: 13px;
  color: brown;
}
.navbar input {
  background-color: $second-color;
  padding: 0px 15px;
  text-align: center;
  border: none;
  width: 250px;
  height: 30px;
  margin-left: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px $last-color;
}
/*  */
/* Navbar Icons */
/*  */
.searchicon img {
  width: 25px;
  margin-left: 5px;
}
/*  */
/* Image Card */
/*  */
.main-image-container {
  padding: 1px 10px;
  width: 100%;
  height: 400px;
  margin-top: 15px;
  border-radius: 13px;
  background-position: 100%;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614840035_152-p-fon-dlya-shkolnogo-saita-223.jpg);
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid $second-color;
  text-align: center;
  color: #62ff00;
  font-size: 25px;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}
.imagebuttons button a {
  text-decoration: none;
  color: white;
}
/*  */
/* Card Info */
/*  */
.cardsinfo {
  margin-top: 15px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  text-align: center;
  color: white;
  gap: 1px;
}
.cardlogo {
  padding: 10px;
}
.cardtext {
  padding: 10px;
}
.cardpricing {
  padding: 20px;
  width: 263px;
}
.cardsinfo .card-item1 {
  border: 1px solid $second-color;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: $third-color;
}
.cardsinfo .card-item2 {
  border: 1px solid $second-color;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: $third-color;
}
.cardsinfo .card-item3 {
  border: 1px solid $second-color;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: $third-color;
}
.cardsinfo .card-item4 {
  border: 1px solid $second-color;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: $third-color;
}
.card-item1:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px $third-color;
  transform: translateY(-10px);
}
.card-item2:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px $third-color;
  transform: translateY(-10px);
}
.card-item3:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px $third-color;
  transform: translateY(-10px);
}
.card-item4:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px $third-color;
  transform: translateY(-10px);
}
// Other Stuff
.otherstuff {
  margin-top: 40px;
  border-radius: 13px;
  width: 1058px;
  display: flex;
}
.otherstuff div {
  border-radius: 13px;
  width: 50%;
  height: 300px;
  border: 1px solid red;
}
.stuffimage img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.stuffinfo {
  padding: 20px 5px;
  text-align: center;
  color: white;
  background-color: black;
}
// Other Stuff Buttons
.otherstuff .stuffbtn1 {
  background-color: $third-color;
  color: white;
  border-radius: 10px;
}
// Image DIv Gallery
.gallery {
  margin-top: 15px;
  text-align: center;
  border-radius: 13px;
  width: 1058px;
  height: 750px;
  background-color: $second-color;
}
.gallery h5 {
  font-size: 50px;
  color: #dbedf3;
}
.imagegallery {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
.imagegallery div {
  width: 200px;
  height: 200px;
}
.imagegallery img {
  width: 200px;
  height: 200px;
  border-radius: 13px;
}
footer h6 {
  margin-top: 15px;
  background-color: $second-color;
  text-align: center;
  border-radius: 13px;
  font-size: 20px;
}
