@import url("https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/heart.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/profile.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/search.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=EB+Garamond&display=swap");
/*  */
/* Devices Resolution */
/*  */
/*  */
/* Main Style */
/*  */
* h5 {
  font-family: "EB Garamond", serif;
}

* p {
  font-family: "Source Code Pro", monospace;
}

body {
  margin: 0;
  width: 100%;
  height: 900px;
  display: grid;
  justify-content: center;
  background-color: #525252;
}

.MainContainer {
  height: 1700px;
}

/*  */
/* Navbar */
/*  */
.navbar {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  background-color: #414141;
  height: 60px;
  border-radius: 13px;
  padding: 1px 10px;
}

.navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  text-align: center;
  align-items: center;
}

.navbar ul div.navbaricon {
  width: 40px;
  height: 40px;
  display: flex;
}

.navbar ul div.navbaricon img {
  width: 40px;
  height: 40px;
}

.navbar ul li {
  align-content: center;
}

.navbar ul li a {
  text-decoration: none;
  color: #ec625f;
}

.navbar ul li a:hover {
  text-decoration: underline;
  transition: 0.5s all;
  border-radius: 13px;
  color: brown;
}

.navbar ul li a:not(hover) {
  transition: 1s;
}

.navbar input {
  background-color: #414141;
  padding: 0px 15px;
  text-align: center;
  border: none;
  width: 250px;
  height: 30px;
  margin-left: 30px;
  border-radius: 13px;
  box-shadow: 0px 0px 4px 0px #ec625f;
}

/*  */
/* Navbar Icons */
/*  */
.searchicon img {
  width: 25px;
  margin-left: 5px;
}

/*  */
/* Image Card */
/*  */
.main-image-container {
  padding: 1px 10px;
  width: 1058px;
  height: 400px;
  margin-top: 15px;
  border-radius: 13px;
  background-position: 100%;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614840035_152-p-fon-dlya-shkolnogo-saita-223.jpg);
  box-shadow: 0px 0px 0px 0px;
  border: 1px solid #ec625f;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
}

.imagebuttons button a {
  text-decoration: none;
  color: white;
}

/*  */
/* Card Info */
/*  */
.cardsinfo {
  margin-top: 15px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  width: 1058px;
  height: 300px;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  text-align: center;
  color: white;
}

.cardlogo {
  padding: 10px;
}

.cardtext {
  padding: 10px;
  align-content: center;
}

.cardpricing {
  width: 352.31px;
  padding: 20px;
}

.cardsinfo .card-item1 {
  border: 1px solid #ec625f;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: #313131;
}

.cardsinfo .card-item2 {
  border: 1px solid #ec625f;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: #313131;
}

.cardsinfo .card-item3 {
  border: 1px solid #ec625f;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: #313131;
}

.cardsinfo .card-item4 {
  border: 1px solid #ec625f;
  display: grid;
  grid-template-columns: 100px 62%;
  border-radius: 13px;
  background-color: #313131;
}

.card-item1:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px #313131;
  transform: translateY(-10px);
}

.card-item1:not(hover) {
  transition: 0.5s;
}

.card-item2:not(hover) {
  transition: 0.5s;
}

.card-item3:not(hover) {
  transition: 0.5s;
}

.card-item4:not(hover) {
  transition: 0.5s;
}

.card-item2:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px #313131;
  transform: translateY(-10px);
}

.card-item3:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px #313131;
  transform: translateY(-10px);
}

.card-item4:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px 0px #313131;
  transform: translateY(-10px);
}

.otherstuff {
  margin-top: 15px;
  border-radius: 13px;
  width: 1058px;
  display: flex;
}

.otherstuff div {
  border-radius: 13px;
  width: 50%;
  height: 300px;
  border: 1px solid #ec625f;
}

.stuffimage img {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.stuffinfo {
  padding: 20px 5px;
  text-align: center;
  color: white;
  background-color: black;
}

.otherstuff .stuffbtn1 {
  background-color: #414141;
  color: #ec625f;
  border-radius: 10px;
}

.Gallery {
  margin-top: 13px;
  width: 1058px;
  height: 30%;
  border: 2px solid #ec625f;
  border-radius: 13px;
  text-align: center;
  background-color: #414141;
}

.Gallery h5 {
  font-size: 40px;
  color: white;
  background-color: #414141;
  border-radius: 13px;
  padding: 10px 16px;
}

.galleryimages {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding: 10px 16px;
}

.galleryimages div {
  width: 200px;
  height: 200px;
}

.galleryimages img {
  width: 200px;
  height: 200px;
  border-radius: 13px;
}

footer h6 {
  color: #ec625f;
  margin-top: 15px;
  background-color: #414141;
  text-align: center;
  border-radius: 13px;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */